@model Department

<h1 class="alert alert-danger text-center">Are you sure you want to delete this?</h1>

<dl class="row">
    <dt class="col-2">@Html.DisplayNameFor(s=>s.Id)</dt>
    <dd class="col-10">@Model.Id</dd>

    <dt class="col-2">@Html.DisplayNameFor(s=>s.Name)</dt>
    <dd class="col-10">@Model.Name</dd>

    <dt class="col-2">@Html.DisplayNameFor(s => s.Description)</dt>
    <dd class="col-10">@Model.Description</dd>

</dl>

<h3>Department Students</h3>
@if (Model.Students.Count > 0)
{
    <ul>
        @foreach (var item in Model.Students)
        {
            <li>@item.FullName (@item.Department.Name)</li>
        }
    </ul>
}
else
{
    <h1 class="alert alert-danger">There is no students in this department.</h1>
}


<form method="post" asp-controller="Departments" asp-action="DeleteCurrent">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>


<a asp-controller="Departments" asp-action="GetIndexView" class="btn btn-danger">Back to List</a>
