@model Department

<h1 class="alert alert-info text-center">@Model.Name Details</h1>

<div class="row">
    <dl class="row col-6">
        <dt class="col-2">@Html.DisplayNameFor(d=>d.Id)</dt>
        <dd class="col-10">@Model.Id</dd>

        <dt class="col-2">@Html.DisplayNameFor(d=>d.Name)</dt>
        <dd class="col-10">@Model.Name</dd>

        <dt class="col-2">@Html.DisplayNameFor(d => d.Description)</dt>
        <dd class="col-10">@Model.Description</dd>

    </dl>

    <h3>Department Students</h3>
    @if (Model.Students.Count > 0)
    {
        <ul>
            @foreach (var item in Model.Students)
            {
                <li>@item.FullName  (@item.Department.Name)</li>
            }
        </ul>
    }
    else
    {
        <h1 class="alert alert-danger">There is no student in this department.</h1>
    }


</div>
<a asp-controller="Departments" asp-action="GetIndexView" class="btn btn-danger">Back to List</a>
